*{
    margin: 0;
    padding:0;
}
body{
    background:  white url(./keyboard.jpg) no-repeat center center;
    background-size: cover;
}
main{
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}
.wrapper{
    background: rgba(255,255,255,0.2);
    border-radius: 10px;
}
.key {
    width: 50px;
    height: 40px;
    background: #ffffff;
    border: 1px solid #D0CEB9;
    color: #4DA155;
    border-radius: 6px;
    box-shadow: 0 0 0 1px #D0CEB9, 0 0 0 1px #D0CEB9, 0 3px 0 1px #D0CEB9;
    position: relative;
    font-size: 16px;
    font-family: Helvetica;
} 
.row{
    margin: 20px;
}
.row .key{
    margin: 0 6px;
}
.key img{
    width:16px;
    height:16px;
}
kbd{
    border: 1px solid red;
    width: 4em;
    height: 4em;
    display: inline-block;
    text-transform: uppercase;
    position: relative;
}
kbd > button{
    position: absolute;
    right: 0;
    bottom: 0;
    display: none;
}
kbd:hover >  button{
    display: inline-block;
}
main{
    text-align: center;
}
#main{
    display: inline-block;
}
#main > div:nth-child(2){
    margin-left: 14px;
}
#main > div:nth-child(3){
    margin-left: -28px;
}

